<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../../public/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Acme|Allerta|Anton|Archivo+Black|Bitter|Bungee+Inline|Bungee+Shade|Cantata+One|Coda+Caption:800|Days+One|Holtwood+One+SC|IM+Fell+DW+Pica+SC|Inknut+Antiqua|Knewave|Permanent+Marker|Rubik+Mono+One|Special+Elite|Vidaloka|Volkhov"
	 rel="stylesheet">
	<title>Data</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				{{{ body }}}
			</div>
		</div>
	</div>

</body>

</html>